* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding-bottom: 1em;
}
.chart {
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    width: max-content;
    height: max-content;
    background-color: white;
    border-radius: 3rem;
    border: 1px solid #000;
    padding-top: 1em;
}

.textparagraph {
    color: rgb(48, 48, 48);
    padding-bottom: 1em;
    font-family: "Slackside One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.maintext {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 3em;
}

.titletext {
    text-align: center;
    font-family: "Bahiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    background-color: red;
}
