*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: 0px;
    cursor: pointer;
}


html,
body {
    height: 100%;
    width: 1920px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    max-width: 1760px;
    margin: 0px auto;
    box-sizing: border-box;
}

.e1 {
    color: rgb(177, 38, 38);
    margin-right: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.e1:hover {
    color: rgb(103, 106, 251);
}

.hat {
    margin-left: 235px;
    margin-right: 253px;
    display: flex;
}

.header-top {
    display: flex;
    align-items: center;
}

.maphat {
    display: flex;
    align-items: center;
}

.logomenu {
    width: 164px;
}

.wrapper {
    box-shadow: 0px 4px 10px 0px rgba(8, 6, 6, 0.1);
    backdrop-filter: blur(8px);
    background: rgba(255, 254, 254, 0.96);
}

.e2 {
    color: rgb(103, 106, 251);
    margin-right: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.qaq {
    color: rgb(195, 185, 181);
   font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-left: 60px;
    margin-top: 30px;
}


.left {
    margin-top: 130px;
}

.objects{
    display: flex;
}

.qwe{
    width: 100px;
    margin-left: 30px;
}

.ls{
    margin-bottom: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 300px;
    font-size: x-large;
    text-align: center;
    margin-left: 600px;
    margin-top: 100px;
}

.dwd{
    width: 45px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.pod{
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.e{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    
}

.stolbiki{
    display: flex;
}

.stolbik{
    margin-right: 30px;
}


.pod1{ 
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 55px;
}

.pod2{
    width: 100px;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.pod3{
    width: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 10px;  
}

.qwe1{
    width: 100px;
    margin-left: 20px;
}

.pod4{
    width: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.pod5{
    width: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 20px;
}

.pod6{
    width: 100px;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-top: 15px;
}