*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: 0px;
    cursor: pointer;
}


html,
body {
    height: 100%;
    width: 1920px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    max-width: 1760px;
    margin: 0px auto;
    box-sizing: border-box;
}

.e1 {
    color:rgb(177, 38, 38);
    margin-right: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.e1:hover {
    color:  rgb(103, 106, 251);
}

.hat {
    margin-left: 235px;
    margin-right: 253px;
    display: flex;
}

.header-top {
    display: flex;
    align-items: center;
}

.maphat {
    display: flex;
    align-items: center;
}

.logomenu{
    width: 164px;
}

.wrapper{
    box-shadow: 0px 4px 10px 0px rgba(8, 6, 6, 0.1);
    backdrop-filter: blur(8px);
    background: rgba(255, 254, 254, 0.96);
}

.e2{
    color: rgb(103, 106, 251);
    margin-right: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fa{
   
  padding-top: 150px;
  padding-bottom: 150px;
}

.jp{
    margin-left: 25px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
}

.fd{
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 5px;
    margin-right: 50px;
}

.bik{
    margin-left: 35px;
    color: rgb(255, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 5px;
    margin-right: 1000px;
    padding: 10px 10px;
    font-size: 23px;
}

.hb{
    margin-left: 30px;
    color: rgb(174, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 25px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 5px;
    margin-right: 1000px;
    font-size: 21px;
}

.contained{
    background-image: url(../img/фончік.jpg);
}

.hg{
    /* background-image: url(../img/fon.jpg); */
    /* margin-top: 5px; */
    background-color: black;
    padding-bottom: 30px;
    padding-top: 20px;
}

.con{
    margin-top: 15px;
}

.fd{
   color: rgb(255, 0, 0);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin-top: 25px;
   padding: 10px 10px;
   font-size: 25px;
}

.eq{
    margin-top: 15px;
    padding-left: 10px;
}